/* responsive styles */


@media screen and (max-width:800px) {
    nav,
    nav > ul,
    .banner-container,
    .gamer-content,
    .videos-card-container,
    .play-instantly,
    .careers-container
    
     {
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
footer ul {
    display: grid;
        grid-template-columns:repeat(2, 1fr);
        column-gap: 5px;
}

    .banner-content,
    .banner-img,
    .gamer-img,
    .play-instantly-content,
    .play-instantly-img,
    .career-content,
    .careers-img
     {
        width: 80%;
        margin: 0px;
        padding: 0px;
    }
   .videos-content,
   .gamer-details {
    text-align: start;

   }
    .games-item-container {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        column-gap: 0px;
        width: 100px;
    }
    .item {
        border-radius: 40px;
        height: 20px;
        width: max-content;
        gap: 5px;
    }
    .heading-title{
        font-size: 18px;
    font-weight: 600;
    }
    .paragraph-text {

    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    }

    .banner-title,
     .banner-p {
        text-align: start;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .goat-text {
        text-align: start;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    }
    .play-instantly-content {
        text-align: start;
     }
}

